@page
@model DetailModel
@{
    ViewData["Title"] = "品目詳細";
}

<h1 class="mb-4">品目詳細</h1>

@if (Model.Item != null)
{
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">@Model.Item.Id</dd>

                <dt class="col-sm-3">品目名</dt>
                <dd class="col-sm-9">@Model.Item.Name</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="/Search" class="btn btn-secondary">検索画面に戻る</a>
    </div>
}


